.container{
 width: 500px;
 height: 450px;
background-color: white;
position: relative;
margin: auto;
margin-top:150px;
border:black 2px outset;
}
.privet{
    font-size:20px;
    font-weight: bold;
    margin-bottom:40px;
    color:black;
    margin-left: 50px;
    margin-top: 30px;
}
.zareg{
    display: block;
}
.a{

    display: block;
margin:auto;
margin-top:10px;
font-size: 27px;
color:black;

outline: 0;
outline-offset: 0;
border: none;
border-bottom: 1px solid rgb(184, 184, 184);

}

.registr{

margin-left:-70px;
margin-bottom: 60px;
color:0F5E12;
}
.btn:hover{
    background-position: right center;
}
.btn{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: white;

font-size:15px;
    margin: 10px 20px;
    margin-left: 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #650370 0%, #ee00ff 40%, #650370 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    background-color: white;
    border-radius: 20px;
border: none;
font-size: 17px;
padding: 20px 90px 20px 90px;
}
input::placeholder{
    color:rgb(192, 190, 190);
    font-weight: 100;
}
body{
    background-color:  rgb(133, 6, 159);
  
 


    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #790862de, rgba(255, 0, 255, 0.27));
    background-size: 200% auto;




}


 