<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" type="text/css"/>
</head>
<body>
<div class="main">
    <img class="aa" src="https://sun1-54.userapi.com/impg/Zmmorg_jZYRuxsvN9ewtzjj6AX3taiAcSki6Ew/xIlSvgDh4KI.jpg?size=1774x1774&quality=96&sign=a501fa2671d2aba1b10faef7d4b4275c&type=album" width="500px" alt="">
    <div class = "box">
        
        <div class = "inp">
            <div class = "nazv">Авторизация</div>
<input class="na" type="Login" placeholder="ЛОГИН" size="40px">
<input class = "na"type="Password" placeholder="ПАРОЛЬ" size="40px">

        </div>
        <div class="aim">
           
            </div>
        <div class = "knop">
            <a href="important.html"><button class = "btn"> Войти</button></a>
</div>
<div class = "reg">
    <a class = "regg" href="registr.html">зарегистрироваться</a>
</div>
</div>

</div>
</body>
</html>