<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <div class = "container">
<div class = "privet">
    Регистрация
</div>
<div class = "registr">
<input class = "a" type="text" placeholder="Имя" >
<input class = "a" type="text" placeholder="Фамилия">
<input class = "a" type="text" placeholder="Номер телефона">
<input class = "a" type="text" placeholder="Email">
</div>
<div class = "zareg">
<a href="important.html"><button class = "btn">Зарегистрироваться</button></a>


</div>    
</div>
</body>
</html>